<launch>
	<!-- Mission planner -->
	<group ns="mission_planner">
		<node pkg="sdu_armadillo4_2014-10-14" name="mission" type="mission.py" output="screen">
		    <param name="deadman_topic" value="/fmCommands/deadman" />
			<param name="cmd_vel_topic" value="/fmCommands/cmd_vel" />
			<param name="feedback_topic" value="/HMI/joy/set_feedback" />
			<param name="joy_topic" value="/HMI/joy" />
			<param name="scale" value="2" />
			<param name="status_topic" value="/fmData/status"/>		
			<param name="max_linear_velocity" value="0.5"/>
			<param name="max_angular_velocity" value="1"/>
			<param name="deadband" value="5"/>
			<param name="reduced_range" value="40"/>
			<param name="publish_frequency" value="5"/>
			<param name="odom_frame" value="/odom" />
			<param name="base_frame" value="/base_footprint" />
			<param name="odom_topic" value="/odom"/> <!--param name="odom_topic" value="/base_pose_ground_truth"/-->
		</node>
	</group>
	
</launch>