<launch>
	<include file="$(find sdu_armadillo4_2014-10-14)/launch/includes/decision_making.launch"/>
	<include file="$(find sdu_armadillo4_2014-10-14)/launch/includes/hmi.launch"/>

		<!-- visualization -->
		<node pkg="smach_viewer" name="smach_viewer" type="smach_viewer.py"/>
		
		<node pkg="rqt_rviz" type="rqt_rviz" name="visualization" />
			
	<!-- from action -->
	<group ns="fmExecutors">
		<node pkg="position_action_server" name="position_planner" type="positionGoalActionServer.py" output="screen">
			<param name="cmd_vel_topic" value="/fmSignals/cmd_vel" />
			<param name="max_linear_velocity" value="1"/>
			<param name="max_angular_velocity" value="4.0"/>
			<param name="max_angle_error" value="0.2"/>
			<param name="max_distance_error" value="0.3"/>
			<param name="retarder" value="0.1"/>
			<param name="use_tf" value="True" />
		     <param name="odom_frame" value="/odom" />
		     <param name="base_frame" value="/base_footprint" />
		</node>
		
	</group>
	

 	<node pkg="stage_ros" type="stageros" name="simulator" args="$(find sdu_armadillo4_2014-10-14)/world/empty.world"/>
 	
	<node pkg="twist_stamped_to_twist" name="twist_converter" type="cmd_vel_converter.py"/>

</launch>
