<launch>
	<!-- TF: robot is base. Encoder + Imu are fused to tf from world_ to base. Encoder + Imu + GPS are fused to tf from world to base -->

	<param name="diff_steer_wheel_distance" value="0.19"/>
	<param name="ticks_per_meter_left" value="710" />
	<param name="ticks_per_meter_right" value="710" />
	<param name="robot_max_velocity" value="2.0"/>

	<group ns="fmSensors">
		<node pkg="vectornav_vn100" name="imu_node"  type="vectornav_vn100_node" output="screen"  respawn="true">
			<param name="vectornav_vn100_sub" value="/fmData/imu_rx"/>
			<param name="imu_pub" value="/fmInformation/imu"/>
			<param name="frame_id" value="imu_link"/>
			<param name="use_enu" value="true"/>
			<param name="covariance_x" value="0.001"/>
			<param name="covariance_y" value="0.001"/>
			<param name="covariance_z" value="0.001"/>
		 </node>
		 
		  <node name="sick_tim310" pkg="sick_tim" type="sick_tim310s01" respawn="false" output="screen">
		      <param name="min_ang" type="double" value="-2.35619449019" />
		      <param name="max_ang" type="double" value="2.35619449019" />
		      <param name="intensity" type="bool" value="True" />
		      <param name="skip" type="int" value="0" />
		      <param name="frame_id" type="str" value="laser" />
		      <param name="time_offset" type="double" value="-0.001" />
		      <param name="publish_datagram" type="bool" value="False" />
		  </node>

	</group>	

	<group ns="fmProcessors">
		<node pkg="differential_odometry" name="differential_odometry" type="differential_odometry_node" output="screen" respawn="true">
	        <param name="enc_left_sub" value="/fmInformation/encoder_left" />
	        <param name="enc_right_sub" value="/fmInformation/encoder_right" />
	        <param name="imu_sub" value="/fmInformation/imu" />
	        <param name="line_pose_sub" value="/fmInformation/line_pose" />
	        <param name="marker_pose_sub" value="/fmInformation/marker_pose" />
	        <param name="odom_reset_sub" value="/fmInformation/odometry_reset" />
	        <param name="odom_pub" value="/fmKnowledge/odometry" />
	        <param name="odom_estimate_frame" value="world_" />
	        <param name="vehicle_frame" value="base_" />
	        <param name="encoder_output" value="absolute" />
	        <param name="max_ticks_per_update" value="200" />
	        <param name="yaw_angle_source" value="imu_angular_velocity" />
	        <param name="imu_angular_velocity_yaw_axis" value="z" />
		</node>

		<node pkg="pose_estimator" name="pose_estimator" type="pose_estimator_node.py" output="screen" >
			<param name="odom_sub" value="/fmKnowledge/odometry" />
			<param name="imu_sub" value="/fmInformation/imu" />
			
			<param name="line_pose_sub" value="/fmInformation/line_pose" />
			<param name="lrs_pose_sub" value="/fmInformation/lrs_pose" />
			<param name="marker_pose_sub" value="/fmInformation/marker_pose" />

			<param name="pose_pub" value="/fmKnowledge/pose" />

			<param name="odometry_timeout" value="0.5" /> 
			<param name="gnss_timeout" value="1.0" /> 
			<param name="imu_timeout" value="0.5" />

			<param name="odometry_distance_variance" value="0.000001" />
			<param name="odometry_angular_variance" value="0.000001" /> 
			<param name="gnss_angular_variance" value="0.0001" />
			<param name="frame_id" value="base" />
			<param name="child_frame_id" value="world" />
		</node>
	</group>
	
	<group ns="fmLib">
		<node pkg="sdu_frobit_v2" name="frobit" type="frobit_interface_node.py" output="screen" >
    		<param name="deadman_sub" value="/fmCommand/deadman" />
			<param name="cmd_vel_sub" value="/fmCommand/cmd_vel" />
			<param name="enc_left_pub" value="/fmInformation/encoder_left" />
			<param name="enc_right_pub" value="/fmInformation/encoder_right" />
			<param name="wheel_status_left_pub" value="/fmInformation/wheel_status_left" />
			<param name="wheel_status_right_pub" value="/fmInformation/wheel_status_right" />
			<param name="wheel_feedback_left_pub" value="/fmInformation/wheel_feedback_left" />
			<param name="wheel_feedback_right_pub" value="/fmInformation/wheel_feedback_right" />
			<param name="wheel_pid_left_pub" value="/fmInformation/wheel_pid_left" />
			<param name="wheel_pid_right_pub" value="/fmInformation/wheel_pid_right" />
			<param name="nmea_from_frobit_sub" value="/fmSignal/nmea_from_frobit" />	 
			<param name="nmea_to_frobit_pub" value="/fmSignal/nmea_to_frobit" />	 
			<param name="publish_wheel_status_rate" value="10" />
			<param name="publish_wheel_feedback_rate" value="10" />
			<param name="publish_wheel_pid_rate" value="10" />
			<param name="castor_front" value="true"/>
            <param name="max_linear_acceleration" value="16.2"/>
            <param name="max_angular_acceleration" value="16.0"/>
			<param name="wheel_drive_feed_forward" value="85" /> 
			<param name="wheel_drive_kp" value="5" /> 
			<param name="wheel_drive_ki" value="10" /> 
			<param name="wheel_drive_kd" value="5" /> 
			<param name="wheel_drive_max_integral_output" value="300" /> 
			<param name="wheel_turn_feed_forward" value="110" /> 
			<param name="wheel_turn_kp" value="10" /> 
			<param name="wheel_turn_ki" value="20" /> 
			<param name="wheel_turn_kd" value="3" /> 
			<param name="wheel_turn_max_integral_output" value="300" /> 
			<param name="supply_voltage_scale_factor" value="0.03747" /> 
			<param name="min_supply_voltage" value="12.1" /> 
			<param name="show_voltage_interval" value="300" /> 
		</node>
		
		<node pkg="serial_nmea" name="frobit_nmea" type="serial_nmea_node" respawn="true" output="screen">
			<param name="nmea_from_device_pub" value="/fmSignal/nmea_from_frobit"/>
			<param name="nmea_to_device_sub" value="/fmSignal/nmea_to_frobit"/>
			<param name="serial_device" value="/dev/frobitpro"/>
			<param name="serial_baudrate" value="57600"/>
			<param name="use_nmea_checksum" value="true"/>
        </node>	
		
        <node pkg="serial_string" name="imu_serial" type="serial_string_node" output="screen" respawn="true">
            <param name="publisher_topic" value="/fmData/imu_rx" />
            <param name="subscriber_topic" value="/fmData/imu_tx" />
            <param name="device" value="/dev/imu" />
            <param name="baudrate" value="115200" />
            <param name="termination_character" value="10"/>
        </node>
        
		<node pkg="socket_pose" type="tcp_client.py" name="marker_locator_tcp_client" output="screen">
			<param name="order" value="7" />
			<param name="odom_pub" value="/fmInformation/marker_pose" />
		</node>
	</group>	
</launch>

